---
layout: default
title: Vaibhav Bhandari Homepage
---
<section>
  <div class="container">
  <div class="row columns is-multiline">
  {% for cat in site.data.indexcategories %}  
    <div class="column is-one-third">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">{{cat.name}}</p>
          <i class="{{cat.faclass}}"></i>
        </header>
        <div class="card-content">
          <div class="content">
            {{cat.description}}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
</div>
</section>

<hr/>

<section>
  <div class="container">
  <div class="card is-full">
        <header class="card-header">
          <p class="card-header-title">Categories</p>
        </header>
        <div class="card-content">
          <div class="content">
           {% for category in site.categories %}
           <span class="tag">
              <a href="#{{ category | first | slugify }}"
                  style="font-size: {{ category | last | size  |  times: 4 | plus: 80 }}%">
                      {{ category[0] | replace:'-', ' ' }} <sup>({{ category | last | size }})</sup>
              </a>
          </span>
           {% endfor %}
          </div>
        </div>
      </div>
  </div>

  <div class="container">
      <div class="card is-full">
            <header class="card-header">
              <p class="card-header-title">Tags</p>
            </header>
            <div class="card-content">
              <div class="content">
               {% for tag in site.tags %}
               <span class="tag">
                  <a href="/tag/{{ tag | first | slugify }}/"
                      style="font-size: {{ tag | last | size  |  times: 4 | plus: 80 }}%">
                          {{ tag[0] | replace:'-', ' ' }} <sup>({{ tag | last | size }})</sup>
                  </a>
              </span>
               {% endfor %}
              </div>
            </div>
          </div>
  </div>

  <hr/>
  <div class="container content">
    {% for tag in site.categories %} 
      <h2 id="{{ tag[0] | slugify }}"class="title is-4"> {{ tag[0] | capitalize}} <sup>{{ tag | last | size }}</sup></h2>
      <ul>
        {% for post in tag[1] %}
        <li>  
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          <span class="has-text-weight-light"> - Posted on {{ post.date | date: "%B %-d, %Y" }}</span>
        </li>  
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
</section>