@charset "utf-8";
@use "sass:color";
@use "./theme-winter.scss" as theme;
@use "bulma/bulma";

$border-color: theme.$border-color;
$border-color-start: theme.$border-color-start;

$navbar-height: 3.25rem !default;
$white: #ffffff !default;
$black: #000000 !default;

:root {
  // Primary color HSL components
  --bulma-primary-h: #{color.channel(theme.$primary, "hue", $space: hsl)};
  --bulma-primary-s: #{color.channel(theme.$primary, "saturation", $space: hsl)};
  --bulma-primary-l: #{color.channel(theme.$primary, "lightness", $space: hsl)};
  --bulma-primary-invert-l: #{color.invert(theme.$primary)};
  
  // Info color HSL components  
  --bulma-info-h: #{color.channel(theme.$info, "hue", $space: hsl)};
  --bulma-info-s: #{color.channel(theme.$info, "saturation", $space: hsl)};
  --bulma-info-l: #{color.channel(theme.$info, "lightness", $space: hsl)};
  --bulma-info-invert-l: #{color.channel(color.invert(theme.$info), "lightness", $space: hsl)};
  
  // Success color HSL components
  --bulma-success-h: #{color.channel(theme.$success, "hue", $space: hsl)};
  --bulma-success-s: #{color.channel(theme.$success, "saturation", $space: hsl)};
  --bulma-success-l: #{color.channel(theme.$success, "lightness", $space: hsl)};
  --bulma-success-invert-l: #{color.channel(color.invert(theme.$success), "lightness", $space: hsl)};
  
  // Warning color HSL components
  --bulma-warning-h: #{color.channel(theme.$warning, "hue", $space: hsl)};
  --bulma-warning-s: #{color.channel(theme.$warning, "saturation", $space: hsl)};
  --bulma-warning-l: #{color.channel(theme.$warning, "lightness", $space: hsl)};
  --bulma-warning-invert-l: #{color.channel(color.invert(theme.$warning), "lightness", $space: hsl)};
  
  // Danger color HSL components
  --bulma-danger-h: #{color.channel(theme.$danger, "hue", $space: hsl)};
  --bulma-danger-s: #{color.channel(theme.$danger, "saturation", $space: hsl)};
  --bulma-danger-l: #{color.channel(theme.$danger, "lightness", $space: hsl)};
  --bulma-danger-invert-l: #{color.channel(color.invert(theme.$danger), "lightness", $space: hsl)};
  
  // Link color HSL components
  --bulma-link-h: #{color.channel(theme.$link, "hue", $space: hsl)};
  --bulma-link-s: #{color.channel(theme.$link, "saturation", $space: hsl)};
  --bulma-link-l: #{color.channel(theme.$link, "lightness", $space: hsl)};
  --bulma-link-invert-l: #{color.channel(color.invert(theme.$link), "lightness", $space: hsl)};
  
  // Body background
  --bulma-body-background-color: #{theme.$body-background-color};

  // Footer
  --footer-background: #{color.adjust(theme.$primary, $lightness: -15%)};    // Darker coral
  --footer-text: #{theme.$body-background-color};         // Light cream
  --footer-link: #{color.adjust(theme.$info, $lightness: 10%)};           // Lighter turquoise
  --footer-link-hover: #{color.adjust(theme.$info, $lightness: 20%)};     // Even lighter turquoise
}

a.button.is-link {
  color: var(--footer-text);
}

// Override the navbar positioning
$navbar-fixed-z: 30 !default;

// Add custom override styles after Bulma import
.navbar {
  &.is-fixed-top {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: $navbar-fixed-z;
  }
}

// Add body spacing
body {
    padding-top: $navbar-height;
    border-top: 0px solid $border-color;
    border-bottom: 0px solid $border-color;
    border-left: 0;
    border-right: 0;
    border-image: linear-gradient(to right, $border-color-start, $border-color) 1 stretch;
}

body, html {
    background-color: var(--bulma-body-background-color);
}

.content {
  a {
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }
}

.has-same-height .card {
    height: 380px;
    overflow: hidden;
  }
  
  .card-content h3 {
    text-align: center;
  }

  .card-content img {
    width: 400px;
  }

  .table-profile td,
  th {
    border: none !important;
  }
  
  .table-profile td:first-of-type {
    font-weight: bold;
  }
  
  .skills-content .media {
    margin: 0 !important;
    padding: 4px !important;
    border: 0 !important;
  }
  
  .skills-content .progress {
    height: 12px !important;
  }
  
  .custom-tags {
    text-align: center !important;
    display: block;
  }
  
  .portfolio-container .card {
    margin-bottom: 1em;
  }
  
  .section-heading {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 5em;
  }

  .section-content p {
    margin-top: 1em;
  }

  .image-container{
      display: flex;
      justify-content: center; /* Aligns items on the horizontal line (in this case center) */
      align-items: center; /* Aligns items on the vertical line (in this case center) */
  }

  .image-container img{
    max-height: 300px; /* Adjust this value according to your needs */
    width: auto; /* Maintains aspect ratio */
    object-fit: contain; /* Ensures that the entire image is visible */
  }

/* Offset for id targets */
:target::before {
  content: "";
  display: block;
  height: 70px; /* Same height as header */
  margin: -70px 0 0; /* Same height as header */
}

.heatmap {
  justify-content: center;
  display: flex;
}

.heatmap .grid {
  display: flex;
  flex-direction: column;
}
.heatmap .week {
  display: flex;
  flex-direction: row;
}
.heatmap .commit {
  width: 15px;
  height: 15px;
  margin: 1px;
}
.heatmap .day {
  background: grey;
  color: yellowgreen;
  width: 15px;
  height: 15px;
  margin: 1px;
}

.footer {
  color: var(--footer-text);
  background-color: var(--footer-background); // Set background to black or any dark color
  
  a {
    color: var(--footer-link); // Ensure links are white
    &:hover {
      color: var(--footer-link-hover); // Lighten color on hover for effect
    }
  }

  strong,
  .credit {
    color: var(--footer-text); // Ensure text elements are also white
  }
}

// Fix tag visibility issues
.tag {
  color: hsl(0, 0%, 4%) !important; // Ensure dark text on light backgrounds
  
  &.is-light {
    background-color: hsl(0, 0%, 96%) !important;
    color: hsl(0, 0%, 21%) !important;
  }
  
  &.is-primary {
    background-color: hsl(var(--bulma-primary-h), var(--bulma-primary-s), var(--bulma-primary-l)) !important;
    color: hsl(0, 0%, var(--bulma-primary-invert-l)) !important;
  }
  
  &.is-info {
    background-color: hsl(var(--bulma-info-h), var(--bulma-info-s), var(--bulma-info-l)) !important;
    color: hsl(0, 0%, var(--bulma-info-invert-l)) !important;
  }
  
  &.is-warning {
    background-color: hsl(var(--bulma-warning-h), var(--bulma-warning-s), var(--bulma-warning-l)) !important;
    color: hsl(0, 0%, var(--bulma-warning-invert-l)) !important;
  }
  
  &.is-danger {
    background-color: hsl(var(--bulma-danger-h), var(--bulma-danger-s), var(--bulma-danger-l)) !important;
    color: hsl(0, 0%, var(--bulma-danger-invert-l)) !important;
  }
  
  &.is-success {
    background-color: hsl(var(--bulma-success-h), var(--bulma-success-s), var(--bulma-success-l)) !important;
    color: hsl(0, 0%, var(--bulma-success-invert-l)) !important;
  }
}

// Center align all images in content and their following captions
.content {
  img {
    display: block;
    margin: 0 auto;
  }
  
  // Center the caption/figure text that immediately follows an image
  img + strong,
  img + em,
  p:has(img) + p > strong {
    display: block;
    text-align: center;
    margin-top: 0.5rem;
  }
}
