<hr/>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1934792-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-1934792-1');
</script>

<footer class="footer">
    <div class="section-heading">
      <p>
        <a href="https://www.twitter.com/vaibhavb"><i class="fab fa-twitter-square fa-2x"></i></a> 
        <a href="https://www.github.com/vaibhavb"><i class="fab fa-github fa-2x"></i></a>
        <a href="https://www.linkedin.com/in/vaibhavb"><i class="fab fa-linkedin fa-2x"></i></a>
        <a href="http://legacy.vitraag.com/cse/index.html"><i class="fas fa-globe fa-2x"></i></a>
        <br/><strong>&copy; 2019 Vaibhav Bhandari</strong>
        <br/><span class="credit">Last Updated on {{site.time | date: "%c"}}</span>
      </p>
    </div>
</footer>
<script async src="{{site.url}}{{site.baseurl}}/assets/js/main.js"></script>
<script async src="{{site.url}}{{site.baseurl}}/assets/js/bundle.js"></script>