<hr/>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1934792-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1934792-1');
</script>

<footer class="footer">
    <div class="content has-text-centered">
      <p>
        Find me on 
        <a href="https://www.twitter.com/vaibhavb"><i class="fab fa-twitter-square fa-1x"></i></a> 
        <a href="https://www.github.com/vaibhavb"><i class="fab fa-github fa-1x"></i></a>
      </p>
     <p>
     <p class="credit">Last Updated at {{site.time | date_to_rfc822}}</p>
    </div>
  </footer>