<!---------------------------------------------------->  
<!--               Navbar Section                   -->  
<!---------------------------------------------------->  
<nav class="navbar is-link is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container is-fluid">
    <div class="navbar-brand">
        <!--
          <a class="navbar-item" href="{{site.url}}{{site.baseurl}}">
              <i class="fas fa-home fa-3x"></i>&nbsp;&nbsp;
              <title class="navbar-item" href="{{site.url}}{{site.baseurl}}">Vaibhav Bhandari</title>
          </a>
        -->
        <a class="navbar-burger" data-target="navMenu" role="button" aria-label="menu" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
        <div class="navbar-menu" id="navMenu" >
          <div class="navbar-end">
            <a class="navbar-item" href="https://www.vitraag.com/#about">
              <span class="icon">
                <i class="fas fa-info"></i>
              </span>
              <span>About</span>
            </a>
            <a class="navbar-item" href="https://www.vitraag.com/#portfolio">
                <span class="icon">
                  <i class="fas fa-th-list"></i>
                </span>
                <span>Portfolio</span>
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">Blog</a>
              <div class="navbar-dropdown">
                <a href="/#blog" class="navbar-item">Posts By Category&nbsp;<span class="tag is-info">Blogs!</span></a>
                <a href="/posts-by-year" class="navbar-item">Posts By Year&nbsp;<span class="tag is-info">Blogs!</span></a>
              
                <a href="/projects-by-year" class="navbar-item">Projects By Year&nbsp;<span class="tag is-danger">New!</span></a>
                <a href="/travels" class="navbar-item">Travels By Year&nbsp;<span class="tag is-danger">New!</span></a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">Pages</a>
              <div class="navbar-dropdown">
                <a href="https://www.vitraag.com/bookmarks" class="navbar-item">
                  <span class="icon">
                    <i class="fas fa-bookmark"></i>
                  </span>
                  <span>Bookmarks&nbsp;</span>
                </a>
                <a href="https://www.vitraag.com/#ethics" class="navbar-item">       
                  <span class="icon">
                    <i class="fas fa-balance-scale"></i>
                  </span>
                  <span>Ethics&nbsp;</span>
                  <span class="tag is-primary">Life</span>
                </a>
                <hr class="navbar-divider">
                <a href="/kamal" class="navbar-item">2022 Moms Gratitude Ceremony&nbsp;<span class="tag is-primary">Family</span></a>
                <a href="/recipes" class="navbar-item">Family Recipes&nbsp;<span class="tag is-info">New!</span></a>
                <hr class="navbar-divider">
                <a href="https://vitraag.notion.site/Vaibhav-s-Public-Notion-Landing-Page-c24d42742ebc43d28ce2e22d41c3ba11" target="_blank" class="navbar-item">Notion &nbsp;<span class="tag is-info">Wiki</span></a>
                <a href="/notes/cats/" class="navbar-item">Second Brain&nbsp;<span class="tag is-info">Memory!</span></a>
                <a href="/test-todo-app/" class="navbar-item">Todo App</a>
                <a href="/me/" class="navbar-item">Me (Visual)</a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">Projects</a>
              <div class="navbar-dropdown">
                <a href="https://www.cyberdefendersprogram.com" class="navbar-item" target="_blank">Cyber Defenders&nbsp;<span class="tag is-primary">Non-Profit</span></a>
                <a href="https://www.lib13.com" class="navbar-item" target="_blank">Lib13 &nbsp;<span class="tag is-primary">Inc</span></a>
                <a href="/digitalhealthconcierge" class="navbar-item">Digital Concierge&nbsp;<span class="tag is-info">Community!</span></a>
                <a href="/code/lira" class="navbar-item">Project Lira&nbsp;<span class="tag is-info">Code!</span></a>
                <a href="https://www.wisevoter.org" target="_blank" class="navbar-item">WiseVoter&nbsp;<span class="tag is-danger">Non-Profit!</span></a>
                <a href="/art" class="navbar-item">Art Work&nbsp;<span class="tag is-info">New!</span></a>
                <a href="/projects-by-year" class="navbar-item">Projects By Year&nbsp;<span class="tag is-danger">New!</span></a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                  <span class="icon">
                    <i class="fa fa-archive"></i>
                  </span>
                  <span>Archive</span>
              </a>
              <div class="navbar-dropdown">
                <a href="https://legacy.vitraag.com" class="navbar-item" target="_blank">       
                  <span class="icon">
                    <i class="fas fa-globe"></i>
                  </span>
                  <span>Old Website&nbsp;</span>
                  <span class="tag is-primary">2001</span>
                </a>
                <a href="https://web.archive.org/web/20010227144616/http://vibsweb.virtualave.net/" class="navbar-item" target="_blank">
                  <span class="icon">
                    <i class="fas fa-history"></i>
                  </span>
                  <span>Ancient Website&nbsp;</span>
                  <span class="tag is-primary">2000</span>
                </a>
                <a href="https://personal.vitraag.com" class="navbar-item" target="_blank">
                  <span class="icon">
                    <i class="fas fa-lock"></i>
                  </span>
                  <span>Personal Website&nbsp;</span>
                  <span class="tag is-primary">2024</span>
                </a>
              </div>
            </div>

            <a class="navbar-item" href="https://www.vitraag.com/#resume">
              <span class="icon">
                <i class="fas fa-file-alt"></i>
              </span>
              <span>Resume</span>
            </a>
          </div>
        </div>
  </div>
</nav>

