<!---------------------------------------------------->  
<!--               Navbar Section                   -->  
<!---------------------------------------------------->  
<nav class="navbar is-link is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container is-fluid">
    <div class="navbar-brand">
        <!--
          <a class="navbar-item" href="{{site.url}}{{site.baseurl}}">
              <i class="fas fa-home fa-3x"></i>&nbsp;&nbsp;
              <title class="navbar-item" href="{{site.url}}{{site.baseurl}}">Vaibhav Bhandari</title>
          </a>
        -->
        <a class="navbar-burger" data-target="navMenu" role="button" aria-label="menu" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
        </a>
    </div>
        <div class="navbar-menu" id="navMenu" >
          <div class="navbar-end">
            <a class="navbar-item" href="https://www.vitraag.com/#about">
              <span class="icon">
                <i class="fas fa-info"></i>
              </span>
              <span>About</span>
            </a>
            <a class="navbar-item" href="https://www.vitraag.com/#resume">
                <span class="icon">
                  <i class="fas fa-file-alt"></i>
                </span>
                <span>Resume</span>
            </a>
            <a class="navbar-item" href="https://www.vitraag.com/#portfolio">
                <span class="icon">
                  <i class="fas fa-th-list"></i>
                </span>
                <span>Portfolio</span>
            </a>
            <a class="navbar-item" href="https://www.vitraag.com/#blog">
              <span class="icon">
                <i class="fab fa-medium"></i>
              </span>
              <span>Blog</span>
            </a>
            <a class="navbar-item" href="">

                <span>Ethics</span>
                <a href="/kamal" class="navbar-item">2022 Moms Gratitude Ceremony</a>
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">Pages</a>
              <div class="navbar-dropdown">
                <a href="https://www.vitraag.com/#ethics" class="navbar-item">       
                  <span class="icon">
                    <i class="fas fa-balance-scale"></i>
                  </span>
                  <span>Ethics&nbsp;</span>
                  <span class="tag is-primary">Life</span>
                </a>
                <a href="/kamal" class="navbar-item">2022 Moms Gratitude Ceremony&nbsp;<span class="tag is-primary">Family</span></a>
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">Projects</a>
              <div class="navbar-dropdown">
                <a href="https://www.cyberdefendersprogram.com" class="navbar-item" target="_blank">Cyber Defenders&nbsp;<span class="tag is-primary">Non-Profit</span></a>
                <a href="https://www.lib13.com" class="navbar-item" target="_blank">Lib13 &nbsp;<span class="tag is-primary">Inc</span></a>
                <a href="/digitalhealthconcierge" class="navbar-item">Digital Concierge&nbsp;<span class="tag is-info">Community!</span></a>
                <a href="/code/lira" class="navbar-item">Project Lira&nbsp;<span class="tag is-info">Code!</span></a>
                <a href="https://www.wisevoter.org" target="_blank" class="navbar-item">WiseVoter&nbsp;<span class="tag is-danger">Non-Profit!</span></a>
                <a href="/art" class="navbar-item">Art Work&nbsp;<span class="tag is-info">New!</span></a>
                <a href="/recipes" class="navbar-item">Family Recipes&nbsp;<span class="tag is-info">New!</span></a>
                <a href="https://vitraag.notion.site/Vaibhav-s-Public-Notion-Landing-Page-c24d42742ebc43d28ce2e22d41c3ba11" target="_blank" class="navbar-item">Notion &nbsp;<span class="tag is-info">Notes</span></a>
                <a href="/notes/cats/" class="navbar-item">Second Brain&nbsp;<span class="tag is-info">Memory!</span></a>
              </div>
            </div>
            <a class="navbar-item" href="https://www.vitraag.com/#contact">
                  <span class="icon">
                    <i class="fas fa-envelope"></i>
                  </span>
                  <span>Contact</span>
              </a>
          </div>
        </div>
  </div>
</nav>

