
<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        <title>{{page.title}}</title>
      </head>
<body>
  <!--Navigation-->
  {% include nav.html %}

  <!-- Header -->
  <section class="hero is-link is-fullheight is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="column is-three-fifths">
        <div class="container">Hello! I am
            <h1 class="title is-1">
              Vaibhav Bhandari
            </h1>
            <h2 class="subtitle is-3">
              Software Professional, Published Author, Teacher and a Maker!
            </h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- About -->
  <section class="section" id="about">
    <!-- Title -->
    <div class="section-heading">
      <div class="container">
        <h3 class="title is-2">About Me</h3>
        <h4 class="subtitle is-5">Jack of all trades, master of "some"</h4>
      </div>
      <div class="container has-text-left section-content">
        <p>I'm a seasoned software professional with background in healthcare and cyber security. I'm currently Head of Product with Lib13, and an author with O'Reilly. Over couple years I helped create products for funded startups like YouBase.io and Shape Security. Previously, I led the software development in various businesses at Optum & Microsoft. At Optum I spear headed development of cloud systems around identity in healthcare, secure messaging and clinical data repository. With Microsoft Health Solutions group, I was involved in creating and developing an ecosystem around Microsoft HealthVault. I helped grow the Microsoft HealthVault partner ecosystem from 17 to over 300 applications and devices in US and in overseas markets like EMEA and APAC. </p>
        
        <p>I have spoken at several prestigious conferences including the Open Source Conference, Health 2.0, Strata Rx, and Singapore TechVentures. I'm active in the Healthcare IT, Blockchain and Cybersecurity communities and have contributed to National Internet Standards & initiatives like Direct, Meaningful Use, and Blue Button. I'm author of an O'Reilly book titled "Enabling Programmable Self with HealthVault".</p>

        <p>I'm contributing artist to several public art projects one of which was featured in rolling stones magazine. I have interest in mixology and can often be spotted outdoors cycling, hiking or climbing.</p>

        <p> More at <a href="http://www.about.me/vaibhavb">about.me</a></p>
      </div>
    </div>
    <div class="container">
      <div class="columns has-same-height is-gapless">
        <div class="column">
          <!-- Profile -->
          <div class="card">
            <div class="card-content">
              <h3 class="title is-4">Profile</h3>

              <div class="content">
                <table class="table-profile">
                  <tr>
                      <td>Clients:</td>
                      <td>Cyber Defenders, Shape Security, IEEE, YouBase.io etal.</td>
                  </tr>
                  <tr>
                    <td>Location:</td>
                    <td>Seattle, WA & SF Bay, CA</td>
                  </tr>
                  <tr>
                    <td>Phone:</td>
                    <td>415.787.5606</td>
                  </tr>
                  <tr>
                    <td>Email:</td>
                    <td>vaibhavb@vitraag.com</td>
                  </tr>
                </table>
              </div>
              <br/>
              <div class="buttons has-addons is-centered">
                <a href="http://www.github.com/vaibhavb" class="button is-link">Github</a>
                <a href="http://www.linkedin.com/in/vaibhavb" class="button is-link">LinkedIn</a>
                <a href="http://www.twitter.com/vaibhavb" class="button is-link">Twitter</a>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <!-- Profile picture -->
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by4">
                <img src="../assets/images/all/profile.jpg" alt="Placeholder image">
              </figure>
            </div>
          </div>
        </div>
        <div class="column">
          <!-- Skills -->
          <div class="card">
            <div class="card-content skills-content">
              <h3 class="title is-4">Skills</h3>
              <div class="content">

                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Engineering Management:</strong>
                        <br>
                        <progress class="progress is-primary" value="90" max="100"></progress>
                      </p>
                    </div>
                  </div>
                </article>

                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Systems Engineering:</strong>
                        <br>
                        <progress class="progress is-primary" value="90" max="100"></progress>
                      </p>
                    </div>
                  </div>
                </article>

                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Customer & Community Development:</strong>
                        <br>
                        <progress class="progress is-primary" value="95" max="100"></progress>
                      </p>
                    </div>
                  </div>
                </article>

                <article class="media">
                  <div class="media-content">
                    <div class="content">
                      <p>
                        <strong>Growth Hacking</strong>
                        <br>
                        <progress class="progress is-primary" value="95" max="100"></progress>
                      </p>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
        <!-- Skills tags -->
      <br>
      <div class="tags custom-tags">
          <span class="tag is-light">Node.js</span><span class="tag is-light">Express.js</span><span class="tag is-light">ReactJS</span><span
            class="tag is-light">JavaScript</span><span class="tag is-light">HTML5</span><span class="tag is-light">Canvas</span><span
            class="tag is-light">CSS3</span><span class="tag is-light">Bulma</span><span class="tag is-light">Bootstrap</span><span
            class="tag is-light">.NET</span><span class="tag is-light">Python</span><span class="tag is-light">Metasploit</span><span
            class="tag is-light">SASS/SCSS</span><span class="tag is-light">Kali Linux</span><span class="tag is-light">Git</span><span
            class="tag is-light">ASP.NET Web Forms</span><span class="tag is-light">Ruby</span><span class="tag is-light">MongoDB</span><span
            class="tag is-light">Data Design</span><span class="tag is-light">Chrome Extensions</span>
      </div>
    </div>
  </section>

  <!-- Services -->
  <section class="section" id="services">
    <div class="container">
    <div class="section-heading">
      <h3 class="title is-2">Services</h3>
      <h4 class="subtitle is-5">What can I do for you?</h4>
    </div>
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">Engineering</h4>
              I'm expert in healthcare IT, blockchain and Security Software, my firm <a href="/www.lib13.com">Lib13</a> will be happy to work with you to design services which fit your needs.
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">Customer Development</h4>
              I have experience leading business from O to success, and work with customers in startup and enterprise environments to assure success. I have helped design scable customer processes.
            </div>
          </div>
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">Experience Design</h4>
              Through my hands-on visual and experiential work I help teams and companies design the perfect experiences - from events to products.
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <div class="content">
              <h4 class="title is-5">Community Development</h4>
              I have worked with a wide array of communities and can work to ensure success in DIY, Open Source and Maker communities.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>

  <!-- Resume -->
  <section class="section" id="resume">
    <div class="container">
      <div class="section-heading">
        <h3 class="title is-2">Resume</h3>
        <h4 class="subtitle is-5">More about my past</h4>
        <a href="https://www.dropbox.com/s/4pyuj5emaa5igfv/Vaibhav%20Bhandari%20-%202019%20-%20Formatted.pdf?dl=0" class="button is-link is-medium">
          <span class="icon">
            <i class="fas fa-file-alt"></i>
          </span>
          <span>Download My Resume</span>
        </a>
      </div>
  </div>
  </section>

  <!-- Portfolio -->
  <section class="section" id="portfolio">
    <div class="container">
      <div class="section-heading">
        <h3 class="title is-2">Portfolio</h3>
        <h4 class="subtitle is-5">My latest works</h4>
      </div>
      <br>
      <div class="container portfolio-container">
        <div class="row columns is-multiline">
          {% for item in site.data.portfolio %} 
          <div class="column is-one-third">
            <!-- item -->
            <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span><i class="{{item.faclass}}"></i>&nbsp;{{item.title}}&nbsp;<small>{{item.subtitle}}</small></span>
                  <span class="is-pulled-right">
                    {% for titletag in item.titletags %}
                      <span class="tag is-default">{{titletag}}</span>
                    {% endfor %}
                    {% if item.iswip %}
                      <span class="tag is-danger">WIP</span>
                    {% endif %}
                  </span>
                </p>
              </header>
              <div class="card-content">
                {% if item.image %}
                <figure class="image">
                  <img src="../assets/images/all/{{item.image}}" alt="Item Screenshot">
                </figure>
                {% endif %}
                <div class="content">
                    {{item.description | markdownify}}
                  </div>
              </div>
              <footer class="card-footer">
                <a href="{{item.moreinfo}}" class="card-footer-item">More Info</a>
                <a href="{{item.read}}" class="card-footer-item">Read</a>
              </footer>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <section class="section" id="blog">
    <div class="container">
      <div class="section-heading">
          <h3 class="title is-2">Blog</h3>
          <h4 class="subtitle is-5">My latest & older blogs</h4>
          <p>Most recent blogs are on <a href="http://www.medium.com/@vaibhavb">Medium</a>.</p>
        </div>
        <br>
      {{ content }}
    </div>
  </section>

  <!-- Achievement Level -->
  <section class="section">
    <nav class="level">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Tweets</p>
          <p class="title">3,456</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Following</p>
          <p class="title">123</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Followers</p>
          <p class="title">456K</p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Likes</p>
          <p class="title">789</p>
        </div>
      </div>
    </nav>
  </section>

  <!-- Ethics -->
  <section class="section" id="ethics">
      <div class="container">
        <div class="section-heading">
          <h3 class="title is-2">Ethics</h3>
          <h4 class="subtitle is-5">More beliefs and assumptions are important to me and I do keep part of them public to hold myself accountable, and keep a change log.</h4>
          <a href="https://www.dropbox.com/s/4pyuj5emaa5igfv/Vaibhav%20Bhandari%20-%202019%20-%20Formatted.pdf?dl=0" class="button is-link is-medium">
            <span class="icon">
              <i class="fas fa-file-alt"></i>
            </span>
            <span>My Ethics Statement</span>
          </a>
        </div>
      </div>
  </section>

  <!-- Contact -->
  <section class="section" id="contact">
    <div class="container">
      <div class="section-heading">
        <h3 class="title is-2">Contact</h3>
        <h4 class="subtitle is-5">Get in touch</h4>
      </div>
      <br>

      <div class="columns">
        <div class="column is-6 is-offset-3">
<!-- Begin Mailchimp Signup Form -->
          <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
          <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
              We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
          </style>
          <div id="mc_embed_signup">
          <form action="https://gmail.us20.list-manage.com/subscribe/post?u=10d1f0abbd7e77e1bd5be06e7&amp;id=5fc079d68c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Contact &amp; Subscribe</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_10d1f0abbd7e77e1bd5be06e7_5fc079d68c" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
          </form>
          </div>
<!--End mc_embed_signup-->
        </div>
      </div>

    </div>
  </section>

  <!-- Footer -->
  {% include footer.html %}
</html>

