<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.classless.min.css">
    <!-- Custom template-->
    <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/css/pico-custom.css" />
    <title>{{page.title}}</title>
  </head>
<body>
    <header class="container">
      <button id="menu-toggle" class="hamburger-menu" aria-label="Open Menu">&#9776;</button>
        <hgroup>
          <h1>The Green Fairy Poems</h1>
          <h2>List of all Green Fairy Favorites</h2>
        </hgroup>
    </header>
    <!-- ./ Header -->

    <aside class="sidebar" role="complementary">
      <h2>Menu!</h2>
      <nav role="navigation">
        <ul role="list" id="poetry-list">
        </ul>
      </nav>
    </aside>
    
    <main class="container" role="main">
        {{content}}
    </main>

    <!-- Minimal theme switcher -->
<script src="{{site.url}}{{site.baseurl}}/assets/js/minimal-poetry.js"></script>
{% include analytics-google.html %}
</body>
</html>