
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <title>{{page.title}}</title>
  </head>
<body>
{% include nav.html %}

<div class="container">
  <h1 class="title is-3">{{page.title}}</h1>
  <h2 class="subtitle is-6">Posted On {{page.date | date_to_rfc822}}. Filed in {{page.categories | join: ', '}}. By {{site.author}}.</h2>
  <div class="content">
    {{ content }}
  </div>
</div>

<hr/>
<section>
<div class="container">
  <h3 class="title is-5">Related posts you may enjoy: </h3>
  <div class="columns">
  {% assign maxRelated = 3 %}
  {% assign minCommonTags =  1 %}
  {% assign maxRelatedCounter = 0 %}

 
  {% for post in site.posts %}

   
    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for tag in post.categories %}
      {% if post.url != page.url %}
        {% if page.categories contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
        <div class="column is-onethird">
          <a href="{{ site.baseurl }}{{ post.url }}">
              <div class="rel">
                  <h5>{{ post.title }}</h5>
              </div>
          </a>
        </div>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
</div>
</section>


{% include footer.html %}

</body>
</html>
