
<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
    <title>{{page.title}}</title>
  </head>
<body>

{% include nav.html %}

<!-- 2023-11-29: Disabling hero for now.
<section class="hero is-info is-medium is-bold">
  <div class="hero-body">
      <div class="container has-text-centered">
         <h1 class="title">{{page.title}}</h1> 
      </div>
  </div>
</section>
-->

<div class="container">
  <!-- START ARTICLE FEED -->
  <section class="articles">
      <div class="column is-8 is-offset-2">
          <!-- START ARTICLE -->
          <div class="card article">
              <div class="card-content">
                  <div class="media">
                      <div class="media-content has-text-centered">
                          <p class="title article-title">{{page.title}}</p>
                          <div class="tags has-addons level-item">
                              <span class="tag is-rounded is-info">{{site.author}}</span>
                              <span class="tag is-rounded">{{page.date | date: "%c"}}</span>
                              <span class="tag is-rounded is-warning">{{page.categories | join: ', '}}</span>
                          </div>
                      </div>
                  </div>
                  <div class="content article-body">
                    {{content}}
                  </div>
              </div>
          </div>
      </div> 
</section>
<hr/>
<section>
<div class="container">
  <h3 class="title is-5">Related posts you may enjoy: </h3>
  <div class="columns">
  {% assign maxRelated = 3 %}
  {% assign minCommonTags =  1 %}
  {% assign maxRelatedCounter = 0 %}

 
  {% for post in site.posts %}

   
    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for tag in post.categories %}
      {% if post.url != page.url %}
        {% if page.categories contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
        <div class="column is-onethird">
          <a href="{{ site.baseurl }}{{ post.url }}">
              <div class="rel">
                  <h5>{{ post.title }}</h5>
              </div>
          </a>
        </div>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
</div>
</section>


{% include footer.html %}
{% include analytics-google.html %}
</body>
</html>
