
<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        <style>
            .sidebar {
                padding-top: 48px;
                min-height: 100vh;
            }
        </style>
        <title>{{page.title}}</title>
    </head>

    <body>
        <nav class="navbar is-light" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="#">
                    <strong>CyberDefendersProgram</strong>
                </a>
            </div>
        </nav>
        <div class="container is-fluid">
            <div class="columns">
                <nav class="column is-one-quarter has-background-dark has-text-white sidebar is-hidden-mobile">
                    <div class="content has-text-white">
                        <p>This is sidebar</p>
                    </div>
                </nav>
                <div class="column">
                    <main id="todo-app" class="section">
                        <div class="content">
                            <p>The application pane is below</p>
                            <form id="todo-form">
                                <div class="field has-addons">
                                    <div class="control is-expanded">
                                        <input class="input" type="text" id="todo-input" placeholder="Add a to-do item">
                                    </div>
                                    <div class="control">
                                        <button type="submit" class="button is-primary">Add</button>
                                    </div>
                                </div>
                            </form>
                            <ul id="todo-list"></ul>
                        </div>
                    </main>
                    <div class="section">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
        <script type="module" src="{{site.url}}{{site.baseurl}}/assets/js/todo.js"></script>
        {% include analytics-google.html %}
    </body>
</html>